:root {
    --night: #131515;
    --jet: #2B2C28;
    --persian-green: #339989;
    --tiffany-blue: #7DE2D1;
    --snow: #FFFAFB;
}

* , *::before, *::after {
    box-sizing: border-box;
    font-family: 'Delius Unicase', cursive;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, var(--tiffany-blue), var(--persian-green));
    color: var(--jet);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid var(--snow);
    outline: none;
    background-color: rgba(255, 250, 251, 0.75);
}

.calculator-grid > button:hover {
    background-color: rgba(255, 250, 251, 0.90);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(19, 21, 21, 0.90);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .5rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 250, 251, 0.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: var(--snow);
    font-size: 2.5rem;
}
